.gallerypost {
  display: flex;
  align-items: center;
}

.image-container {
  margin-top: auto;
  text-align: center;
  img {
    margin: 10px;
    width: 100px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    border-radius: 50%;
  }
}

.text-container {
  align-items: center;
  margin-left: 10px;
}
