/* Gallerie Bilder */
.gallery {
  margin: 20px;
  padding: 10px; /* Innenabstand */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Schatten */

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image-container {
    flex: 1 0 21%;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .gallery-image {
    width: 100%;
    height: auto;
  }
}
.centered-text {
  text-align: center;
  text-decoration: underline;
}
