button {
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-style: italic;
  border-radius: 5%;
}

.button:hover {
  cursor: pointer;
}

/* Breite der Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

/* Hintergrundfarbe der Scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; /* Runde Ecken */
}

/* Farbe des Scroll-Knopfes */
::-webkit-scrollbar-thumb {
  background: #87cefaae; /* Hellblau */
  border-radius: 10px; /* Runde Ecken */
  transition: background 0.5s ease-in-out; /* Hinzugefügt */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Farbe des Scroll-Knopfes beim Überfahren mit der Maus */
::-webkit-scrollbar-thumb:hover {
  background: #1e8fff85; /* Dunkleres Blau */
}
